Repository wp-cli/scaffold-command, pull requests merged in 2018-11, with the labels that each got.

#184 Missing text domain in post_type_extended.mustache
  templates/post_type_extended.mustache
Labels: bug, command:scaffold-post-type

#186 In the case of RC and Beta, use Branch for WP_TEST_TAG.
  templates/install-wp-tests.sh
Labels: command:scaffold-plugin-tests, command:scaffold-theme-tests

#188 Run `docker-php-ext-install` with `sudo -E` in CircleCI
  templates/plugin-circle.mustache
Labels: bug, command:scaffold-plugin, command:scaffold-plugin-tests
