Repository wp-cli/scaffold-command, pull requests merged in 2018-04, with the labels that each got.

#136 Bump the Travis CI memory limit to 2048MB
  .travis.yml
Labels: scope:testing

#134 Exclude tests/test-sample.php via the phpunit.xml.dist file
  features/scaffold-plugin-tests.feature
  features/scaffold-theme-tests.feature
  templates/phpunit.xml.dist
Labels: command:scaffold, command:scaffold-plugin

#137 Fix theme-specific paths in scaffolded blocks
  features/scaffold-block.feature
  src/Scaffold_Command.php
  templates/block-php.mustache
Labels: bug, command:scaffold-block

#142 Modify scaffold block to create index.js
  features/scaffold-block.feature
  src/Scaffold_Command.php
  templates/block-index-js.mustache
  templates/block-php.mustache
Labels: command:scaffold-block

#145 Skip PHPUnit tests for PHP 7.2+
  features/install-wp-tests.feature
  features/scaffold-theme-tests.feature
Labels: scope:testing

#143 Update scaffolded files
  .travis.yml
  bin/test.sh
  features/bootstrap/utils.php
Labels: scope:testing
