Repository wp-cli/scaffold-command, pull requests merged in 2018-07, with the labels that each got.

#159 fixes #139 adding --woocommerce flag to scaffold _s command
  features/scaffold.feature
  src/Scaffold_Command.php
Labels: command:scaffold-_s

#162 Exclude string from escape warning
  templates/plugin-bootstrap.mustache
Labels: command:scaffold-plugin

#163 Correct add_new_item label
  templates/taxonomy.mustache
Labels: bug, command:scaffold-taxonomy

#161 change to .phpcs.xml.dist and update rules
  README.md
  features/scaffold-plugin-tests.feature
  features/scaffold-theme-tests.feature
  features/scaffold.feature
  src/Scaffold_Command.php
  templates/.phpcs.xml.dist
  templates/phpcs.xml.dist
  templates/plugin-distignore.mustache
Labels: command:scaffold-plugin
