Repository wp-cli/scaffold-command, pull requests merged in 2018-03, with the labels that each got.

#131 get correct WP_TEST_DIR. Similarly plugin-bootstrap.mustache.
  templates/theme-bootstrap.mustache
Labels: bug, command:scaffold-theme-tests

#115 [WIP] Switch CircleCI template to CircleCI 2.0.
  .distignore
  features/scaffold-plugin-tests.feature
  features/scaffold-theme-tests.feature
  features/scaffold.feature
  src/Scaffold_Command.php
  templates/plugin-circle.mustache
  templates/plugin-distignore.mustache
  templates/plugin-readme.mustache
Labels: command:scaffold-plugin-tests, command:scaffold-theme-tests

#132 Fix sed -i option
  templates/install-wp-tests.sh
Labels: bug, command:scaffold
