Repository wp-cli/scaffold-command, pull requests merged in 2018-02, with the labels that each got.

#125 Use phpunit 6.5.6 for PHP 7.2 to get around core test incompat.
  .travis.yml
Labels: scope:testing

#129 Update license copyright date to 2018
  LICENSE
Labels: scope:documentation

#121 fix wpcs in theme-tests generation
  templates/theme-bootstrap.mustache
  templates/theme-test-sample.mustache
Labels: command:scaffold-theme-tests

#118 Add Bitbucket Pipelines
  .distignore
  features/scaffold-plugin-tests.feature
  features/scaffold-theme-tests.feature
  src/Scaffold_Command.php
  templates/plugin-bitbucket.mustache
  templates/plugin-distignore.mustache
  templates/plugin-test-sample.mustache
Labels: command:scaffold-plugin-tests, command:scaffold-theme-tests
