Repository wp-cli/scaffold-command, pull requests merged in 2019-04, with the labels that each got.

#204 Move PHP 5.4 tests from `WP_VERSION` `latest` to `5.1`
  .travis.yml
  features/install-wp-tests.feature
Labels: scope:testing

#205 QA: don't unnecessarily create variables within a function call
  src/Scaffold_Command.php
Labels: command:scaffold

#209 PHPCS: fix up the code base [3] - strict comparisons
  src/Scaffold_Command.php
Labels: command:scaffold

#208 PHPCS: fix up the code base [2] - scope modifiers
  src/Scaffold_Command.php
Labels: command:scaffold

#206 QA: don't unnecessarily use array_merge()
  src/Scaffold_Command.php
Labels: command:scaffold

#207 PHPCS: fix up the code base [1] - whitespace & inline control structures
  src/Scaffold_Command.php
Labels: command:scaffold

#214 PHPCS: fix up the code base [4] - assignments in conditions
  src/Scaffold_Command.php
Labels: command:scaffold

#213 Prefix variables in global namespace
  scaffold-command.php
Labels: command:scaffold

#215 PHPCS: fix up the code base [5] - multi-line function calls
  src/Scaffold_Command.php
Labels: command:scaffold

#217 Rename _s method to underscores and provide alias for backcompat
  src/Scaffold_Command.php
Labels: command:scaffold-_s

#216 Rename scaffold method to get rid of underscore prefix
  src/Scaffold_Command.php
Labels: command:scaffold

#218 PHPCS: fix up the code base [3] - strict comparisons (second try)
  src/Scaffold_Command.php
Labels: command:scaffold

#221 Enhancement: Add PHP 7.3 to Travis CI build matrix
  .travis.yml
Labels: scope:testing

#220 Implement CS checking based on the WPCliCS ruleset
  .distignore
  .gitignore
  composer.json
  phpcs.xml.dist
Labels: scope:testing

#203 Prevent creating unregisterable blocks due to invalid plugin slug
  features/scaffold-block.feature
  src/Scaffold_Command.php
Labels: scope:documentation

#223 Update README.md file
  README.md
Labels: scope:documentation

#222 Fix renamed command in bundled commands manifest
  composer.json
Labels: command:scaffold-_s
