Repository wp-cli/scaffold-command, pull requests merged in 2019-11, with the labels that each got.

#238 Required PHP version header
  templates/plugin-readme.mustache
Labels: command:scaffold-plugin

#240 Add preliminary PHP 7.4 testing
  .travis.yml
Labels: scope:distribution

#245 Fix Travis TLS handshake error
  .travis.yml
  features/scaffold.feature
Labels: bug, command:scaffold-_s, scope:testing

#243 Include `--ignore-externals` when running svn co
  templates/install-wp-tests.sh
Labels: command:scaffold-plugin-tests, command:scaffold-theme-tests
