Repository wp-cli/scaffold-command, pull requests merged in 2019-08, with the labels that each got.

#210 Fix: Document PHP version requirements
  composer.json
Labels: scope:distribution

#234 Add a minimum php requirement
  features/scaffold-theme-tests.feature
Labels: scope:distribution

#225 Scripts added to plugin package.json
  src/Scaffold_Command.php
  templates/plugin-packages.mustache
Labels: command:scaffold-plugin

#236 Fix deprecated whitelist code flag
  templates/plugin-bootstrap.mustache
Labels: command:scaffold-plugin, scope:testing
