Repository wp-cli/scaffold-command, pull requests merged in 2020-07, with the labels that each got.

#268 Add PHP version 7.3, 7.4 into matrix on Travis CI
  features/scaffold-plugin-tests.feature
  features/scaffold-theme-tests.feature
  features/scaffold.feature
  templates/plugin-travis.mustache
Labels: command:scaffold-plugin-tests

#266 WP_CORE_DIR does not need a trailing slash
  templates/install-wp-tests.sh
Labels: bug, command:scaffold-plugin-tests

#269 Fix bug that can't init non default host DB
  templates/install-wp-tests.sh
Labels: bug, command:scaffold-plugin-tests

#271 Keep test suite in sync with WP files when testing trunk/nightlies
  templates/install-wp-tests.sh
Labels: command:scaffold-plugin-tests, command:scaffold-theme-tests
