Repository wp-cli/scaffold-command, pull requests merged in 2024-08, with the labels that each got.

#343 Allow manually dispatching tests workflow
  .github/workflows/testing.yml
Labels: scope:testing

#340 Accept Bitbucket as valid CI in scaffold plugin
  features/scaffold-plugin-tests.feature
  src/Scaffold_Command.php
Labels: command:scaffold-plugin

#339 Update Bitbucket CI
  features/scaffold-plugin-tests.feature
  features/scaffold-theme-tests.feature
  templates/plugin-bitbucket.mustache
Labels: command:scaffold-plugin-tests, command:scaffold-plugin, command:scaffold-theme-tests
